/* ----------------- */
/* UNIVERSAL STYLES */
/* --------------- */

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* ------------- */
/* OTHER STYLES */
/* ----------- */

/* ---------- */
/* GAME SHOW */
/* -------- */

.game-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ----------------- */
/* PROTECTED REVIEW */
/* --------------- */

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -------------- */
/* CREATE REVIEW */
/* ------------ */

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back-btn {
  justify-self: flex-start;
}
