/*********************-------------------- STYLE GUIDE --------------------*********************

*********------------------------- PALETTE: -------------------------*********

*********------------------------- SPACING: -------------------------*********

2 / 4 / 8 / 12 / 14 / 16 / 24 / 32 / 48 / 62 / 80 / 96 / 128

(these are in px, the rem equivalent would look like this: 128px === 1.28rem, 32px === 3.2rem.

*********--------------------------- FONT: ---------------------------*********

Family: Poppins

--------------- FONT SIZES (px): ---------------

10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--------------- WEIGHT: ---------------

Light: 200

Regular: 400

Medium: 500

Bold: 700

--------------- LINE HEIGHT: ---------------

Paragraph Default: 1.6

Default: 1

Small: 1.05

Medium: 1.2

Large: 1.8

--------------- BORDER RADIUS: ---------------

Default: 5px

--------------- SHADOWS: ---------------


*/

/************************************************************************************************/
/*------------------------------------- UNIVERSAL STYLES ------------------------------------- */
/**********************************************************************************************/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background-color: #0e1118;
  color: #fff;
}

a {
  color: #fff;
}

/* -------------------------------------------------------------------------------------------- */
/*-------------------------------------- FLEX PROPERTIES --------------------------------------*/
/* ------------------------------------------------------------------------------------------ */

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* ------------------------------------------------------------------------------------------ */
/*------------------------------------ UNIVERSAL MARGIN -------------------------------------*/
/* ---------------------------------------------------------------------------------------- */

.mar-btm-xl {
  margin-bottom: 12.8rem;
}

.mar-btm-lg {
  margin-bottom: 6.2rem;
}

.mar-btm-md {
  margin-bottom: 3.2rem;
}

.mar-btm-sm {
  margin-bottom: 2.4rem;
}

.mar-btm-xs {
  margin-bottom: 1.8rem;
}

/* This adds margin to the top that's the height of the navbar, so that the content doesn't get hidden behind it. This is currently necessary because it's position is set to fixed, if we adjust that, this class can be deleted. */
.nav-top-mar {
  margin-top: 6.4rem;
}

.footer-bottom-wrapper {
  height: 85vh;
}

h1 {
  font-size: 9.6rem;
  font-weight: 700;
  background: -webkit-linear-gradient(270deg, #05d2ed, #b100ca);
  /* filter: drop-shadow(1px 1px 3px rgba(255, 255, 255, 0.9)); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 6.2rem;
  font-weight: 500;
  background: -webkit-linear-gradient(#b100ca, #05d2ed);
  /* filter: drop-shadow(1px 1px 3px rgba(255, 255, 255, 0.9)); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
}

/* ------------------------------------------------------------------------------------------ */
/*------------------------------------ BUTTONS -------------------------------------*/
/* ---------------------------------------------------------------------------------------- */

.btn {
  padding: 0.8rem 1.2rem;
  background-color: #dd00f3;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 400;
}

.shine-btn {
  margin: 10px;
  padding: 1.4rem 2.4rem;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 5px;
  border: 0px;
  font-weight: 500;
  /* box-shadow: 0px 0px 14px -7px #f09819; */
  background-image: linear-gradient(
    45deg,
    #b100ca 0%,
    #d066df 51%,
    #b100ca 100%
  );
}

.shine-btn:hover {
  font-size: 1.8rem;
  background-position: right center;
  /* change the direction of the shift here */
}

.shine-btn:active {
  transform: scale(0.95);
}

.home-btn {
  border: 1px solid red;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1rem 2rem;
  text-decoration: none;
  border: none;
  outline: none;
  color: #fff;
  background: #0b0b0b;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 5px;
}

.home-btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(3px);
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 5px;
}

.home-btn:active {
  color: #fff;
}

.home-btn:active:after {
  color: #fff;
  background: rgba(0, 0, 0, 0.707);
}

.home-btn:hover:before {
  opacity: 1;
}

.home-btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0b0b0b;
  left: 0;
  top: 0;
  border-radius: 5px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* ------------------------------------------------------------------------------------------ */
/*------------------------------------ OTHER STYLES -------------------------------------*/
/* ---------------------------------------------------------------------------------------- */

/* ---------- */
/* GAME SHOW */
/* -------- */

.game-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-img {
  width: 40rem;
}

/* ----------------- */
/* PROTECTED REVIEW */
/* --------------- */

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
  border-radius: 5px;
  padding: 1.2rem 1.8rem;
  min-height: 30rem;
  max-width: 55rem;
  background-color: #161b21;
}

.top-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-username {
  font-size: 2.4rem;
  font-weight: 500;
}

.review-difficulty {
  font-size: 1.4rem;
  font-weight: 200;
}

.review-difficulty span {
  font-size: 1.6rem;
  font-weight: 400;
}

.review-accessibility {
  font-size: 1.4rem;
  font-weight: 200;
}

.review-accessibility span {
  font-size: 1.6rem;
  font-weight: 400;
}

.bottom-review {
  flex-grow: 1;
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 0.5px;
}

/* -------------- */
/* CREATE REVIEW */
/* ------------ */

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back-btn {
  justify-self: flex-start;
}
/* ----------------------------------------------------- */
/*-------------------- LOGGED IN HOME --------------------*/
/* --------------------------------------------------- */

.logged-in-wrapper {
  background: linear-gradient(50deg, #b100ca, #05d2ed);
  width: 100%;
  height: 100vh;
  position: relative;
}

.dashboard-home {
  height: 90vh;
  width: 85vw;
  z-index: 2;
  gap: 6.2rem;
}

.recent-games-column {
  gap: 2.4rem;
}

.welcome-column {
  background-color: rgba(2, 3, 7, 0.94);
  padding: 2.4rem 3.2rem;
  border-radius: 5px;
  height: 75rem;
}

.dashboard-home h3 {
  font-weight: 400;
  font-size: 2.4rem;
}

.circles {
  position: absolute;
  top: 0rem;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  z-index: 1;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* ----------------------------------------------------- */
/*-------------------- HERO SECTION --------------------*/
/* --------------------------------------------------- */

.hero-content {
  background: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.8),
      rgb(0, 0, 0)
    ),
    url(https://images.unsplash.com/photo-1546640646-89b557854b23?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* ----------------------------------------------------- */
/*-------------------- HOW IT WORKS --------------------*/
/* --------------------------------------------------- */

.how-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9.6rem;
}

.how-card {
  background-color: #5d02a8da;
  padding: 2.4rem;
  width: 30rem;
  border-radius: 5px;
}

.how-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #05d2ed;
  width: 100%;
  height: 17.8rem;
}

/* ------------------------------------------------- */
/*-------------------- ABOUT US --------------------*/
/* ----------------------------------------------- */

.about-card {
  width: 100rem;
  flex-wrap: wrap;
}

.image-circle {
  align-self: center;
  width: 25rem;
  height: 25rem;
  background-image: url(https://images.pexels.com/photos/670720/pexels-photo-670720.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
}

.about-me-text {
  width: 60rem;
}

.about-text-middle {
  text-align: right;
}

/* ----------------------------------------------------- */
/*-------------------- FOOTER SECTION --------------------*/
/* --------------------------------------------------- */

.footer-container {
display: flex;
justify-content: space-between;
align-items: center;
}

.footer-devise {
  align-self: flex-start;
}
